<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="/css/admin.css">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
   <a href="/"><h2>Home</h2></a>
   <div class="container">
      <label>Course Code</label>
      <input name="courseCode" type="text" id="course-code" placeholder="Course Code">
      <label>Course Name</label>
      <input name="courseName" type="text" id="course-name" placeholder="Course Name">
      <button id="add-course">Add course</button>
   </div>
   <div class="container">
      <label>Set Semester</label>
      <input type="text" id="semester" placeholder="Semester">
      <button id="set-semester">Set Semester</button>
   </div>
   <div class="container">
      <label>Search User</label>
      <input type="text" id="search-bar" placeholder="Search for a User">
      <div class="container" id="user-container">
         <div class="suggestion-container" id="suggestion-container">
            
         </div>
         <div id="user">
            
         </div>
         <div class="user-details">
            <div class="user-posts">
               
            </div>
            <div class="user-blogs">

            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <label>Search Post</label>
      <div class="search-bar-container">
         <input type="text" class="post-search-bar" placeholder="search for a post">
      </div>
      <div id="searched-posts">
         
      </div>
   </div>
   <div class="container">
      <label>Search Blog</label>
      <div class="search-bar-container">
         <input type="text" class="blog-search-bar" placeholder="search for a blog">
      </div>
      <div id="searched-blogs">
         
      </div>
   </div>
   <script type="text/javascript" src="js/admin.js"></script>
</body>
</html>
