<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="/css/admin.css">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
   <a href="/"><h2>Home</h2></a>
   <form action="/admin/addcourses" method="post" class="form">
      <!-- This should be able to add many courses.
            courses will be added to a cookie with
            add button instead of submitting.
            There will be an extra submit button
            at that time.-->
      <label>Course Code</label>
      <input name="courseCode" type="text">
      <label>Course Name</label>
      <input name="courseName" type="text">
      <button type="submit">Add course</button>
   </form>
   <script type="text/javascript" src="js/admin.js"></script>
</body>
</html>
