<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="../css/courseRoom.css">
   <!-- Should be subject name -->
   <title>Course Room</title>
</head>
<body>
   <div>
      <%if(enrolled) {%>
         <h1>Welcome to our course room</h1>
         <a href="/"><h3>Home Page</h3></a>
         <div class="message-container">
            <div class="message-box">
               <%posts.forEach(post => {%>
                  <%if(post.user_id === user.id) {%>
                     <div class="sender-message-container">
                        <div class="sender-message">
                           <p><%=post.chat%></p>
                        </div>
                     </div>
                  <%} else {%>
                     <div class="reciver-message">
                        <p><%=post.chat%></p>
                     </div>
                  <%}%>
               <%})%>
            </div>
            <input type="text" class="message-input">
         </div>
      <%} else {%>
         <h1>Would you like to enroll to this page?</h1>
         <button id="enroll-course">Yes</button>
         <a href="/"><button>No</button></a>
      <%}%>
   </div>
   <script src="/socket.io/socket.io.js"></script>
   <script type="text/javascript" src="../js/courseRoom.js"></script>
</body>
</html>
