<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Create a blog</title>
   <link rel="stylesheet" href="/css/createBlog.css">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
   <div>
      <a href="/"><button>Main Page</button></a>
      <form action="/createblog" method="POST" class="form">
         <input type="text" id="title" name="title" class="text-input" placeholder="title">
         <textarea class="post" name="post" rows="20" cols="50" placeholder="Type your blog here..."></textarea>
         <select id="tag-select">
            <%tags.forEach(tag => {%>
               <option value="<%=tag.tag%>"><%=tag.tag%></option value="<%=tag%>">
            <%})%>
         </select>
         <input type="text" id="tag" name="tag" class="text-input hidden" placeholder="Give a new tag.">
         <button type="button" id="tag-button">Other Tag</button>
         <button id="post-button" type="button">Make blog</button>
      </form>
      <script type="text/javascript" src="js/createBlog.js"></script>
   </div>
</body>
</html>