<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Student Forum</title>
</head>
<body>
   <h1>Welcome to the student forum</h1>
   <a href="/login"><h3>log in</h3></a>
   <a href="/logout"><h3>log out</h3></a>
   <a href="/admin"><h3>admin</h3></a>
   <a href="/moderator"><h3>moderator</h3></a>
   <a href="/posts"><h3>View all posts</h3></a>
   <a href="/createpost"><h3>Create a post.</h3></a>
   <h3>Please select a course</h3>
   <div>
      <%result.forEach(data => {%>
         <a href="/course/<%=data.course_code.replace(/ /g, '_')%>"><p><%=data.course_name%></p></a>
      <%})%>
   </div>
</body>
</html>