<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Update a post</title>
   <link rel="stylesheet" href="/css/createpost.css">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
   <div>
      <a href="/"><button>Main Page</button></a>
      <form action="/posts/<%=post.id%>/update" method="POST">
         <input type="text" name="title" class="title" value="<%=post.title%>" id="title">
         <textarea class="post" name="post" rows="20" cols="50" id="post"><%=post.content%></textarea>
         <button type="post" id="post-update">Update</button>
      </form>
   </div>
</body>
</html>