<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div class="form-container">
        <form class="form register-form" action="/register" method="POST">
            <h1 class="header">Sign Up</h1>
            <input class="form-input" id ="name" name="name" type="text" placeholder="Name">
            <input class="form-input" id ="email" name="email" type="text" placeholder="Email">
            <input class="form-input" id ="password" name="password" type="password" placeholder="Password">
            <input class="form-input" id ="password-confirm" type="password" placeholder="Confirm Password">
            <input class="form-input" id ="phone" name="phone" type="text" placeholder="Phone Number">
            <input class="form-input" id ="date" name="date" type="date">
            <select name="department" class="form-input">
                <option value="CSE">CSE</option>
                <option value="EEE">EEE</option>
                <option value="BBA">BBA</option>
            </select>
            <button type="button" id="register">Sign Up</button>
            <a href="/login">Log In</a>
            <a href="/">Home</a>
        </form>
    </div>
    <script type="text/javascript" src="js/register.js"></script>
</body>
</html>
