body {
   margin: 0px;
   display: flex;
   flex-direction: column;
}

ul {
   cursor: pointer;
}

ul li {
   display: inline-block;
   margin:0px 15px;
   font-size: 20px;
   cursor: pointer;
   font-family: 'Titillium Web', sans-serif;
}

nav {
   display: inline-block;
   background: linear-gradient(to right, rgba(95,209,249,1), #8ca6db);

   margin: 0px;
   display: flex;
   justify-content: space-between;
}

a:hover {
   color: rgba(0, 0, 0, 0.5);
}

.sidebar{
   background: linear-gradient(to right, #8ca6db, rgba(95,209,249,1));
   transition: 0s;
   position: static;
   height: 100vh;
   width: 350px;
   margin: 0px 0px 0px 0px;
   font-size: 25px;
}

.sidebar-open{
   left: 0px;
}
.sidebar-close{
   left: 0px;
}

.hamburger {
   display: none;
}

.button {
   display: inline-block;
}

.information-container {
   display: flex;
   justify-content: space-evenly;
   margin: 40px;
}

.information-container {
   margin: 0px;
   width: 100%;
}

.blogs {
   width: 45%;
}
.posts {
   width: 45%;
}

.title {
   font-size: 30px;
}
.main-contents-body {
   margin: 0px;
   display: flex;
}
.main-contents {
   width: 100vh;
   margin: 0px 0px 0px 30px;
}

.nav-left {
   padding: 0px;
}

@media only screen and (max-width: 1000px) {
   .sidebar {
      height: 100%;
      position: fixed;
      transition: 0.3s;
   }
   .hamburger {
      display: inline-block;
   }
   .sidebar-close{
      left: -500px;
   }
}
