p {
   white-space: pre-wrap;
}

.comment-box {
   font-size: 20px;
   width: 600px;
   resize: none;
}


.content {
   font-size: 30px;
}

.content-container {
   margin: 0px 0px 0px 20px;
   width: 80vw;
}

.comment-container {
   width: 80vw;
}

.comment-form {
   display: flex;
   flex-direction: column;
   width: 80vw;
}

.main-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.comment-content {
   font-size: 25px;
}

