option, select {
    font-size: 20px;
    height: 40px;
    width: 100%;
}

body {
    margin: 0px;
}

.filter {
    display: flex;
}

.search-bar {
    width: 100%;
    height: 40px;
    font-size: 30px;
}

.search-container {
    display: flex;
    flex-direction: column;
}
