body{
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-color: rgb(161, 250, 208);
    width: 400px;
    height: 680px;
    box-shadow: 0px 0px 20px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input{
    width: 300px;
    height: 40px;
    outline: none;
    font-size: 25px;
    margin: 5px;
}

.header {
    color: rgb(54, 73, 64);
    font-size: 50px;
}
