* {
   font-family: 'Roboto', sans-serif;
   outline: none;
}


body{
    background: linear-gradient(to right, rgba(95,209,249,1), #8ca6db);
    font-family: 'Roboto', sans-serif;
}

button {
    width: 280px;
    height: 50px;
    background-color: #a0befa;
    outline: none;
    border: 0px;
    font-size: 25px;
    color: #274238;
    margin: 30px;
    font-weight: bold;
}
button:hover{
    background-color:#b4c9f3;
    cursor: pointer;
}

input {
    width: 450px;
    height: 40px;
    font-size: 30px;
}

a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.color-green {
    color:green;
}

.color-teal {
    color:teal;
}

.hidden {
    display: none;
}

